@import url(https://fonts.googleapis.com/css?family=Lato);
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color:aliceblue;
}

.home{
   
    display: flex;
    justify-content: center;
    
}


.home img{
   
    margin-top:50px;
    
}
nav{
    background-color:black;
    height: 70px;
    display: flex;
    align-items: center;
    
}

ul{
    margin-left:5vw;
}

 

li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 30px;
    font-size: 1.5em;
    
    
}

a{
    text-decoration: none;
     color:white;
}

a:hover {
	color: #101FD9;
	border-bottom: 3px solid #101FD9;
}


.App {
  text-align: center;
}


.App-header {
  background-color: #138D75;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1{
    font-size: 3em;
}

.App-header button{
    
    background-color:#0D1212;
	border-radius:6px;
	border:1px solid #063963;
	cursor:pointer;
	color:white;
	font-family:'Lato';
	font-size:1em;
	font-weight:bold;
	padding:6px 10px;
    margin-left:5px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.App-header input{
    font-size:0.9em;
    padding: 10px;
    width: 500px;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 2px;
    margin: 10px auto;
    
}

#lista{
    list-style-type: none;
    padding:0;
    margin: 30px auto 30px auto;
    width: 60%;
    
}
.task-item{
    background-color:white;
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top: 20px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
    border-radius:5px;
    height: 50px;
    width: 100%
}

.strike{
    text-decoration: line-through;
}

.task-item input{
    margin-left: 20px; 
    margin-right: 20px;
   
}

.task-item p{
    width: 85%;
    text-align: left;
}
.task-item button{
     background-color:#138D75;
    border:1px solid #138D75;
    margin-right:10px;
}


@media (max-width:1200px){
     .home img{

        width: 700px;
         height: 400px;

    }
    
}