@import url('https://fonts.googleapis.com/css?family=Niramit');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Niramit', sans-serif;
     background-color: aliceblue;
}

#main{
   text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:30px;
}


#panel-gral-authors,#panel-favorite-authors{
   width: 45%; 
   vertical-align: top;
   border:1px solid #BDC3C7  ;
   border-radius:5%; 
}

#gral-authors,#favorite-authors{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
}


h1{ 
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color:#2874A6  ;

}
h2{
     margin-bottom: 50px;
    font-size: 1.8em;
}

article{
    margin-bottom: 50px;
    text-transform: capitalize;
}



img{
     border-radius: 50%;
}